
html {
  position: relative;
  min-height: 100%;
}
/*styles pagination*/
#bootstrap-overrides .pagination a{
   color: #008595; 
   background-color: #F4E2C8;
}
#bootstrap-overrides .page-item.disabled{
   background-color: #F4E2C8; 
    
}
#wrap{
  /*font-family: 'Play', sans-serif;*/
	margin-bottom: 15%;
	width: 100%;
}
#bootstrap-overrides .warm-pink{
    background-color: #DC136C;
}
#bootstrap-overrides .light-purple{
    background-color: #574D68;
}
#bootstrap-overrides .light-green{
    background-color: #F9EA9A;
}
#bootstrap-overrides .warm-brown{
    background-color: #7C3626;
}


#jumbo{
                    background-image: url("../images/cooking-header.jpeg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    color: white;
                    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                    
                    }
#bootstrap-overrides {
      margin-bottom: 100px; /* Margin bottom by footer height */
      background-color: #F4E2C8;
}                   

.content{
    position: relative;
    background-color: #EFE1CE;
    border-radius: 10px;
    overflow-y: scroll;
    
}  
#bootstrap-overrides .lovely-color{
    
    color: #008595;
}
#footer{
    background-color: #84894A;
  	position: absolute;
	 text-align: center;
	 width: 100%;
	 bottom: 0;
	 font-size: 0.7em;
}

.handwritten{
    font-family: 'Lobster', cursive;
}

#footer a{
  color: black;
}
#footer .container-fluid{
    
  background-color: #ADBCA5;
}
               
#bootstrap-overrides .navbar {
    font-family: 'Nunito', sans-serif;
    background-color: #84894A;
    border: none;
}
#bootstrap-overrides .pagination{
    font-family: 'Nunito', sans-serif;
    background-color: #ADBCA5;
    border: none;
}
#bootstrap-overrides .text-black{
    color: black;
    font-family: 'Nunito', sans-serif;
}
.info-label{
    font-size: 0.7em;
}
#bootstrap-overrides .bordered-field{
    border: 1px solid #008595;
    border-radius: 5px;
}
#bootstrap-overrides .bordered-div{
    border-radius: 5px;
    background-color: #F3C969;
}
#bootstrap-overrides form{
    
  font-family: 'Roboto', sans-serif;  
}

@media (min-width: 992px) {

.resp-card{
    width: 18rem;
}
.index-card{
    width: 18rem;
}
#b1, #b2{
    display: none;
}
.show-on-large{
    display: block;
}

#bootstrap-overrides .nomore{
    height: 230px;
    
}
.content{
    max-height: 600px;
}

.content-faq{
    max-height: 600px;
}
 }

@media (max-width: 991.98px) {

#bootstrap-overrides .nomore{
    height: 250px;
    
}
.index-card{
    width: 25rem;
}
#bootstrap-overrides nav {
    font-size: 1.5em;
}

.resp-card{
    width: 28rem;
}
.content{
    max-height: 400px;
    font-size: 1.2em;
}
.content-faq{
    max-height: none;
}
}