{% extends 'base.html' %}
{% block tile %}
Yummy! Categories
{% endblock %}

{% block content %} 
<div class="container">
    
        <h3>Categories:</h3>
    <div class="row justify-content-around">
        {% for data in dataset %}
            {% if dishes %}
            <div>
                <div class="col"><a class="text-info"  href="{{ url_for('filter_query', dish_name=data.name) }}" >
                    <img class="img-thumbnail" width="300" height="200" alt="dish image" src="{{ url_for('static', filename=data.image_url) }}">
                    <h4> {{ data.name }} </h4></a></div>
            </div>
            {% endif %}
            
            
            {% if cuisines %}
            <div>
                <div class="col"><a class="text-info" href="{{ url_for('get_recipes', cuisine_name=data.name) }}" >
                    <img class="img-thumbnail" width="300" height="200" alt="cuisine image" src="{{ url_for('static', filename=data.image_url) }}">
                    <h4> {{ data.name }} </h4></a></div>
            </div>
            {% endif %}
            
        {% endfor %}
    </div>
</div>
{% endblock %} 