{% extends 'base.html' %}

{% block content %} 
<div class="container">
    <div class="row">
        {% for data in dataset %}
            {% if dishes %}
            <div>
                <div class="col"><a href="{{ url_for('get_recipes', dish_name=data.name) }}" ><h2> {{ data.name }} </h2></a></div>
            </div>
            {% endif %}
            
            
            {% if cuisines %}
            <div>
                <div class="col"><a href="{{ url_for('get_recipes', cuisine_name=data.name) }}" ><h2> {{ data.name }} </h2></a></div>
            </div>
            {% endif %}
            
        {% endfor %}
    </div>
</div>
{% endblock %} 