{% extends 'base.html' %}

{% block content %} 
<div>

        {% for data in dataset %}
        
            {% if dishes %}
            <div>
                <a href="{{ url_for('get_recipes', dish_name=data.name) }}" ><h2> {{ data.name }} </h2></a>
            </div>
            {% endif %}
            
            
            {% if cuisines %}
            <div>
                <a href="{{ url_for('get_recipes', cuisine_name=data.name) }}" ><h2> {{ data.name }} </h2></a>
            </div>
            {% endif %}
            
        {% endfor %}

</div>
{% endblock %} 