{% extends 'account_base.html' %}
{% block title %}
Your cookbook
{% endblock %}

{% block content %}
<div class="container my-3" >
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div>
    {% for message in messages %}
      <span class="text-white">{{ message }}</span>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<h2 class="text-white handwritten">{{ cookbook.cookbook_name }}</h2>
            
    <div class="row justify-content-around my-3">
            
        <div class="col-md-12 col-sm-12 col-lg-5 content px-2 pb-2 my-2">
            <h5  class="handwritten">Recipes by {{ cookbook.author_name}}</h5>
            <a href="{{ url_for('add_recipe') }}" class="btn btn-success"><span class="fas fa-plus"></span></a>
               {% if cookbook.recipes_owned %}
               <ul  class="list-unstyled">
                {% for recipe in cookbook.recipes_owned %}
                <li><a class="text-info" href="{{ url_for('show_recipe', recipe_id=recipe._id) }}">{{ recipe.title }}</a></li>
                {% endfor %}
                </ul>
                {% else %}
            <span>You didn't add any recipes yet.</span>
            {% endif %}
            </div>
            
            <div class="col-md-12 col-sm-12 col-lg-5 content px-2 pb-2 my-2">
             <h5  class="handwritten">Recipes pinned</h5>
             {% if cookbook.recipes_pinned %}
             <ul  class="list-unstyled">
                {% for recipe in cookbook.recipes_pinned %}
                <li class="d-flex justify-content-between align-items-center"><a class="text-info" href="{{ url_for('show_recipe', recipe_id=recipe._id) }}">{{ recipe.title }}</a>
                <a href="{{ url_for('remove_recipe', recipe_id=recipe._id, owned=False) }}" onclick="return(getConfirmation('{{ recipe.title }}'));"> <span class="badge badge-pill fas fa-trash-alt" style="color: #008595"> </span></a></li>
                {% endfor %}
                </ul>
            {% else %}
            <a href="{{ url_for('get_recipes') }}" class="btn btn-warning"><span class="fas fa-search"></span></a>
            <span>You didn't pin any recipes yet.</span>
            {% endif %} 
         </div>
    </div>

</div>
  <script type="text/javascript">
           function getConfirmation(title){
               var retVal = confirm("Do you really want to remove following recipe?\n"+ title);
               if( retVal == true ){
                  return true;
               }
               else{
                  return false;
               }
              
    }

</script>
{% endblock %}