{% extends 'account_base.html' %}
{% block title %}
FAQ
{% endblock %}

{% block content %}

<div class="container">
    
    <h2 class="text-white">Frequently asked questions</h2>
    
    <div class=" content content-faq py-2 px-3">
        
        <h4>How can I upvote recipes?</h4>
        <p>You can only upvote it by pinning it into your cookbook. When removing, it will be downvoted.</p>  
        <h4>Why can't I delete my cookbook?</h4>
        <p>You probably noticed, that when registering, we didn't ask you to provide your email address. That is because at this point Yummy! is not secure, so we don't want to store any sensitive data in our database, not even your precious email address.</p>
        <h4>How can I remove my cookbook?</h4>
        <p>Well you can't really remove it on your own, but that is only for your good <span class="fas fa-smile"></span>Yummy! is not secure, so we don't store any senstive data on our servers. If you don't wish to use your cookbook anymore, you can just leave it and forget about it.
        You may also empty it completely from recipes, if you don't like us anymore. <span>(ToT)</span></p>
        <h4>How can I restore forgotten password?</h4>
        <p>The only way you can do it is by contacting us. If Yummy! gets overloaded by despaired users requests, we will consider developing restoring password function.<span class="fas fa-grin-beam-sweat"></span>
        </p>
        <h4>Some of recipes pinned to my cookbook have been deleted by their owners. Is there any chance to restore them?</h4>
        <p>Not a slightest. Bin them.</p>
        <h4>Why can't I see other?</h4>
        <p></p>
        <h4>Why can I delete my cookbook?</h4>
        <p></p>
        
    </div>
    
</div>



{% endblock %}