 {% extends 'base.html' %}
{% block tile %}
Yummy! Homepage
{% endblock %}
{% block content %}
<h3>Menu just for you: how about...?</h3>
<!--<div class="container d-flex justify-content-between">-->
            <div class="row justify-content-around">
            <!--Breakfast-->
            <div class="card mx-1 my-2 index-card">
                 <h5 class="card-header">Breakfast</h5>
            {% for break in breakfast %}
                     <div class="card-body">
                    <span><h5><a class="card-text text-info" href="{{ url_for('show_recipe', recipe_id=break._id) }}">
                    <img  class="card-img-top nomore"  src="{{ url_for('static', filename=break.image_url) }}" alt="recipe image"></img>
                     {{ break.recipe_name }}
                    </a></h5></span>
                </div>
                 {% endfor %}
            </div>
            <!--Lunch-->
            <div class="card mx-1 my-2 index-card">
                
                    <h5 class="card-header">Main Course</h5>
                {% for m in main %}
                     <div class="card-body">
                    <span><h5><a class="card-text text-info" href="{{ url_for('show_recipe', recipe_id=m._id) }}">
                     <img  class="card-img-top  nomore"  src="{{ url_for('static', filename=m.image_url) }}" alt="recipe image"></img>
                     {{ m.recipe_name }}
                    </a></h5></span>
                </div>
                 {% endfor %}
            </div>
            <!--Dessert-->
            <div class="card mx-1 my-2 index-card">
                    <h5 class="card-header">Dessert</h5>
                {% for des in dessert %}
                     <div class="card-body">
                    <span><h5><a class="card-text text-info" href="{{ url_for('show_recipe', recipe_id=des._id) }}">
                     <img  class="card-img-top  nomore"  src="{{ url_for('static', filename=des.image_url) }}" alt="recipe image"></img>
                     {{ des.recipe_name }}
                    </a></h5></span>
                </div>
                 {% endfor %}
            </div>
           
           <!--Dinner -->
            <div class="card mx-1 my-2 index-card">
                    <h5 class="card-header">Dinner</h5>
                    {% for din in dinner %}
                     <div class="card-body">
                    <span><h5><a class="card-text text-info" href="{{ url_for('show_recipe', recipe_id=din._id) }}">
                      <img  class="card-img-top  nomore"  src="{{ url_for('static', filename=din.image_url) }}" alt="recipe image"></img>
                     {{ din.recipe_name }}
                    </a></h5></span>
                    </div>
                    {% endfor %}
            </div>
            </div>
<!--</div>-->
 {% endblock %} 