<!DOCTYPE html>
<html>
    <head>
    </head>
    
<!-- okay, so this is a view for one single recipe. Looks almost like the all recipes view, but it doesn't have the for loop -->
       <h2> {{ recipe.recipe_name }} </h2>
       <span>Author: {{ recipe.author_name }}</span>
     
       <span>Dish type: {{ recipe.dish_type }}</span>
       <span>Cooking time: {{ recipe.cooking_time }} </span><span>Difficulty:  {{ recipe.difficulty }}</span>
        <ul>
        
            {% for ingredient in recipe.ingredients_list %}
            <li>{{ ingredient }}</li>
            {% endfor %}
        
        </ul>
        
        <h3>Preparation:</h3>
        <ol>
            
             {% for step in recipe.preparation_steps_list %}
             <li>{{ step }}</li>
            
             {% endfor %}
             
        </ol>
        
         <span>Upvotes: {{ recipe.upvotes }}</span>
    <a href="{{ url_for('give_up', recipe_id=recipe._id) }}">Up</a> 
</html>