{% extends 'base.html' %}

{% block title %}
{{ recipe.recipe_name }}
{% endblock %}

{% block content %} 
<!-- okay, so this is a view for one single recipe. Looks almost like the all recipes view, but it doesn't have the for loop -->
<div class="container">

    <div class="row"><h2> {{ recipe.recipe_name }} </h2></div>
    <div class="row">Author: {{ recipe.author_name }}</div>
    <div class="row">
        <div class="col-sm">Dish type: {{ recipe.dish_type }}</div>
        <div class="col-sm">Cooking time: {{ recipe.cooking_time }} </div>
        <div class="col-sm">Difficulty: {{ recipe.difficulty }}</div>
    </div>
    
    <ul>

        {% for ingredient in recipe.ingredients_list %}
        <li>{{ ingredient }}</li>
        {% endfor %}

    </ul>

    <h3>Preparation:</h3>
    <ol>

        {% for step in recipe.preparation_steps_list %}
        <li>{{ step }}</li>

        {% endfor %}

    </ol>

    <div class="row">Upvotes: {{ recipe.upvotes }}</div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-success" href="{{ url_for('give_up', recipe_id=recipe._id) }}">Up</a>
    {% if session['logged_in'] %}
    {% if already_got %}
            <h5><span class="badge badge-success">In your cookbook</span></h5>
        </div>
    <div class="col-md-2">
    {% if owned %}
    <a class="btn btn-danger" href="{{ url_for('remove_recipe', recipe_id=recipe._id, owned=owned) }}">Remove</a>
    {% else %}
    <a class="btn btn-danger" href="{{ url_for('remove_recipe', recipe_id=recipe._id, owned=owned) }}">Unpin</a>
    {% endif %}
    </div>
    {% elif not already_got %}
    <a class="btn btn-warning" href="{{ url_for('pin_recipe', recipe_id = recipe._id, recipe_title = recipe.recipe_name) }}">Pin to your cookbook</a>
    {% endif %}
    </div>
    {% endif %}
    </div>
</div>
{% endblock %} 