
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
 {% extends 'base.html' %}

{% block title %}
Yummy! Search page
{% endblock %}

{% block content %}
<div class="row">
    <!--column on the left to get the form right -->
    <div class="col-sm-2 col-md-2 col-lg-2">
        <!--formatting div-->
        <div class="bordered-div py-1 px-1" >
        <!--Form for querying database-->
        <form action="{{ url_for('filter_query') }}" method="POST">
                <div class="col-12" align="center">
                    <a class="text-black btn btn-small btn-outline-danger my-1" href="{{ url_for('cancel_search') }}"><span class="fas times-circle">Cancel search</span></a>
                    <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search" aria-label="Search">
                </div>
                    <div class="nav-item dropdown" align="center">
                        <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Allergens
                    </a>
                        <div class="dropdown-menu px-1" aria-labelledby="navbarDropdown">
                            <legend class="col-form-legend"> Exclude:</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="diaryCheckbox" name="diary" value="milk cream yogurt cheese">
                                <label class="form-check-label" for="diaryCheckbox">Diary</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="nutsCheckbox" name="nuts" value="nuts wallnuts pecans hazelnuts">
                                <label class="form-check-label" for="nutsCheckbox">Nuts</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="eggCheckbox" name="eggs" value="egg eggs">
                                <label class="form-check-label" for="eggCheckbox">Eggs</label>
                            </div>
                                <input class="form-control mr-sm-2" type="search" id="searchbox" name="custom" placeholder="Custom">
                                <label class="form-check-label" for="searchbox"><span class="info-label">Custom - make sure to separate words with ONE space!</span></label>
                        </div>
                    </div>
                    <div class="nav-item dropdown" align="center">
                        <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Cuisines
                    </a>
                        <div class="dropdown-menu px-1" aria-labelledby="navbarDropdown">
                            {% for cuisine in cuisines %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="cuisine_input" name="{{ cuisine.name }}" value="{{ cuisine.name }}">
                                <label class="form-check-label" for="cuisine_input">{{ cuisine.name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="nav-item dropdown" align="center">
                        <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dishes
                    </a>
                        <div class="dropdown-menu px-1" aria-labelledby="navbarDropdown">
                            {% for dish in dishes %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="dish_input" name="{{ dish.name }}" value="{{ dish.name }}">
                                <label class="form-check-label" for="dish_input1">{{ dish.name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div align="center">
                    <button type="submit" class="btn btn-outline-info text-black" align="center">Apply</button>
                    </div>
        </form> 
        <div class="bordered-div" align="center">
          {% if result %}
        <ul class="list-unstyled"> Your filters:
         {% for key, value in result.items() %}
             {% if value|length > 0 %}
                {% if key == 'nuts' or key =='diary' or key == 'eggs' or key == 'custom' %}
                   <li> <span class="fas fa-minus-circle">{{ key }}</li>
                   {% else %}
                   <li> <span class="fas fa-search-plus"> {{ value }}</li>
                 {% endif %}
            {% endif %}
         {% endfor %}
         {% endif %}
      </ul>
      </div>
        </div> 
      
    </div> <!--end of column on the left, containing form-->
<div class="col-sm-10 col-md-10 col-lg-10">
<div class="row justify-content-center lovely-color">
{{ pagination.info }}
</div>
<div class="row justify-content-center lovely-color">
{{ pagination.links }}
</div>
<div class="row justify-content-around">
    {% for recipe in recipes %}
    <div class="card mx-2 my-2 resp-card">
        
        <div class="card-body">
                <span><h5><a class="text-info" href="{{ url_for('show_recipe', recipe_id=recipe._id) }}">
                    <img class="card-img-top nomore" height="250px" src="{{ url_for('static', filename=recipe.image_url) }}" alt="recipe image"></img>
                    {{ recipe.recipe_name }}</a></h5></span>
                <span class="fas fa-user"> {{ recipe.author_name }}</span>
                <span class="fas fa-clock"> {{ recipe.cooking_time }}</span>
                <span class="fas fa-magic"> {{ recipe.difficulty }}</span>
                <span class="fas fa-thumbs-up"> {{ recipe.upvotes }}</span>
           
        </div>
    </div>
    {% endfor %}
</div>
</div>
</div>
<div class="row justify-content-center">{{ pagination.links }}</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
    
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
                 
            <script type="text/javascript" src="">
            $(document).ready(function(){
            
                $('.dropdown-toggle').dropdown();
            });
            </script> 
           
 {% endblock %} 