{% extends 'account_base.html' %}
{% block title %}
Editing
{% endblock %}

{% block content %}
<div class="container">
  <h4>Edit your recipe "{{ recipe.recipe_name }}"</h4>
  <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" name="add_form" onsubmit="return(validate_empty());" enctype="multipart/form-data">

    <div class="form-group row">
      <label for="recipe_name" class="col-sm-2 col-form-label">Recipe title:</label>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <input type="text" class="form-control" id="recipe_name" name="recipe_name" value="{{ recipe.recipe_name }}" minlength=5>
      </div>
    </div>
    
    <div class="form-group row">
      {% if session['logged_in'] %}
 
        <label for="author_name" class="col-sm-2 col-form-label">You're logged as </label>
        <div class="col-sm-12 col-md-12 col-lg-6">
        <input id="author_name" type="text" class="validate" value="{{ session['username'] }}" disabled>
        {% else %}
        <label for="author_name" class="col-sm-2 col-form-label">Author's name:</label>
        <div class="col-sm-12 col-md-6 col-lg-6">
        <input id="author_name" name="author_name" type="text" class="validate" >
        {% endif %}
         <input id="author_name" name="author_name" type="hidden" class="validate" value="{{ session['username'] }}">
      </div>
    </div>
    <div class="col-md-9 col-lg-9 col-sm-12">
      <span>Current image: </span>
         <img class="img-thumbnail"  height="100" src="{{ url_for('static', filename=recipe.image_url) }}"></img>
    </div>
        <div class="form-group row">
      <label for="image_url" class="col-sm-2 col-form-label">Change image (upload file):</label>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <input type="file" name="file" id="file">
         <!--<input type="submit" value="Upload">-->
      </div>
    </div>
    
      <div class="form-group row">
      <label for="servings" class="col-sm-2 col-form-label">How many servings?:</label>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <input id="servings" name="servings" type="text" class="validate" value="{{ recipe.servings }}" >
      </div>
      </div>
      
       <div class="form-group row">
      <label for="cooking_time" class="col-sm-2 col-form-label">Cooking time:</label>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <input id="cooking_time" name="cooking_time" type="text" class="validate" value="{{ recipe.cooking_time }}">
      </div>
          </div>
          
            <div class="form-group row">
      <label for="difficulty" class="col-sm-2 col-form-label">Difficulty:</label>
      <div class="col-sm-12 col-md-12 col-lg-6">
      <select id="difficulty" name="difficulty">
        <option value="{{ recipe.difficulty }}"selected>{{ recipe.difficulty }}</option>
          <option value="Easy">Easy</option>
          <option value="Medium">Medium</option>
          <option value="Difficult">Difficult</option>
          <option value="Professional">Level Pro</option>
          
          </select>
      </div>
      </div>

    
    <div class="form-group row">
      <label for="dish_type" class="col-sm-2 col-form-label">Dish type:</label>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <select id="dish_type" name="dish_type">
        <option value="{{ recipe.dish_type }}" selected>{{ recipe.dish_type }}</option>
          {% for dish in dishes  %}
          <option value="{{dish.name}}">{{dish.name}}</option>
          {% endfor %}
          </select>
      </div>
    </div>
    
    <div class="form-group row">
      <label for="cuisine_name" class="col-sm-2 col-form-label">Cuisine:</label>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <select id="cuisine_name" name="cuisine_name">
        <option value="" selected>Leave it if none</option>
          {% for cui in cuisine_list  %}
          <option value="{{cui.name}}">{{cui.name}}</option>
          {% endfor %}
          </select>
      </div>
    </div>
    
    <div class="form-group row">
      <label for="ingredients_list" class="col-sm-2 col-form-label"> Ingredients:</label>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <textarea rows="4" name="ingredients_list"  class="form-control" id="ingredients_list" >{{ ing_string}}</textarea> 
      </div>
    </div>
   
    <div class="form-group row">
      <label for="preparation_steps_list" class="col-sm-2 col-form-label">How to prepare:</label>
      <div class="col-sm-12 col-md-12 col-lg-6">
       <textarea rows="4" name="preparation_steps_list"  class="form-control" id="preparation_steps_list"  >{{ prep_string }}</textarea>
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-sm-2 col-sm-12">
          <label for="submit" class="col-sm-12  col-form-label"> Until you hit submit, nothing will happen in fact.</label>
        <button type="submit" class="btn btn-primary" >Save</button>
      </div>
    </div>
  </form>
</div>
</div>
 <script type="text/javascript" src="../static/js/validate.js"> </script>

{% endblock %}